# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
doc/api/
ios/Flutter/.last_build_id

# Android Studio
captures/
.externalNativeBuild/
.gradle/
local.properties

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Distribution
/distribution/

# Build artifacts
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
/build_apk.sh.bak
